* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.single-yellow {
  width: 100%;
  background-color: #fcf8f3;
  display: flex;
  padding: 40px 0px;
  flex-wrap: wrap;
}
.single-yellow-text {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 50px;
  gap: 20px;
  align-items: center;
  margin: 0 auto;
  max-width: 1350px;
}
.single-yellow-text .yellow-text {
  color: #acacac;
  font-family: "Poppins", sans;
  font-size: clamp(12px, 4vw, 16px);
  font-weight: 400;
}
.single-yellow-text .sofa {
  color: #3a3a3a;
  font-family: "Poppins", sans;
  font-size: clamp(12px, 4vw, 16px);
  font-weight: 400;
}
.four-piece-furniture {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.first-furniture {
  position: relative;
}
.first-furniture span {
  position: absolute;
  width: 76px;
  height: 80px;
  border-radius: 10px;
  background: #fcf8f3;
  left: 0;
  z-index: -1;
}
.second-furniture {
  position: relative;
}
.second-furniture span {
  position: absolute;
  width: 76px;
  height: 80px;
  border-radius: 10px;
  background: #fcf8f3;
  left: 0;
  z-index: -1;
}
.third-furniture {
  position: relative;
}
.third-furniture span {
  position: absolute;
  width: 76px;
  height: 80px;
  border-radius: 10px;
  background: #fcf8f3;
  left: 0;
  z-index: -1;
}
.fourth-furniture {
  position: relative;
}
.fourth-furniture span {
  position: absolute;
  width: 76px;
  height: 80px;
  border-radius: 10px;
  background: #fcf8f3;
  left: 0;
  z-index: -1;
}
.furniture-single {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.furniture-single-img {
  max-width: 1850px;
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
  margin: 0px auto;
}
.single-text-stars span {
  width: 1.7px;
  height: 30px;
  background: #acacac;
}
.big-furniture-img {
  position: relative;
}
.big-furniture-img img {
  width: 100%;
}
.big-furniture-img span {
  position: absolute;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  left: 0px;
  top: 0px;
  border-radius: 10px;
  background: #fcf8f3;
  z-index: -1;
}
.single-text h1 {
  color: #3a3a3a;
  font-family: "Poppins", sans;
  font-size: 42px;
  font-weight: 400;
  padding: 10px 0px;
}
.single-text p {
  color: #acacac;
  font-family: "Poppins", sans;
  font-size: 24px;
  font-weight: 500;
}
.furniture-text {
  padding: 40px 0px;
}
.single-text span {
  color: #3a3a3a;
  font-family: "Poppins", sans;
  font-size: 13px;
  font-weight: 400;
}
.single-text-stars img {
  width: 20px;
  height: 20px;
}
.single-text-stars {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 0px;
}
.single-text-stars .stars-text {
  color: #acacac;
  font-family: "Poppins", sans;
  font-size: 13px;
  font-weight: 400;
}
.line .img {
  width: 1px;
  height: 30px;
}
.third-color-text p {
  color: #acacac;
  font-family: "Poppins", sans;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 0px;
}
.third-color {
  display: flex;
  gap: 18px;
}
.third-color .purple-color {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #816dfa;
}
.third-color .black-color {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #3a3a3a;
}
.third-color .brown-color {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #b88e2f;
}
.first-buttons {
  width: 123px;
  height: 64px;
  border-radius: 10px;
  border: 1px solid #acacac;
  background: #fff;
  cursor: pointer;
}
.first-buttons .button-text {
  padding: 15px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.furniture-buttons {
  padding: 20px 0px;
}
.second-button button {
  width: 215px;
  height: 64px;
  border-radius: 15px;
  border: 1px solid #3a3a3a;
  background-color: #fff;
  cursor: pointer;
}
.second-button button p {
  color: #3a3a3a;
  font-family: "Poppins", sans;
  font-size: 20px;
  font-weight: 400;
}
.third-button {
  width: 215px;
  height: 64px;
  border-radius: 15px;
  border: 1px solid #3a3a3a;
  background-color: #fff;
  cursor: pointer;
}
.third-button .third-button-text {
  display: flex;
  align-items: center;
  gap: 22px;
  justify-content: center;
  padding: 17px 0px;
}
.furniture-buttons {
  display: flex;
  gap: 24px;
  padding: 50px 0px;
  flex-wrap: wrap;
}
.social-media-icon img {
  cursor: pointer;
}

.single-product-details-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 0 15px;
  flex-wrap: wrap;
}
.single-product-details-title .single-bold-title {
  color: #3a3a3a;
  font-family: "Poppins", sans;
  font-size: clamp(18px, 4vw, 24px);
  font-weight: 500;
}
.single-product-details-title .single-thin-title {
  color: #acacac;
  font-family: "Poppins", sans;
  font-size: clamp(18px, 4vw, 24px);
  font-weight: 400;
}
.single-product-details-paragraph p {
  color: #acacac;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
}
.single-product-details-paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
  padding: 0 15px;
}
.single-product-details-paragraph2 p {
  color: #acacac;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
}
.single-product-details-paragraph2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 0px;
  padding: 0 15px;
}
.single-product-details-image1 {
  position: relative;
}
.single-product-details-image1 img {
  width: 100%;
}
.single-product-details-image2 img {
  width: 100%;
}
.single-product-details-image1 span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  background: #fcf8f3;
  z-index: -1;
}
.single-product-details-image2 {
  position: relative;
}
.single-product-details-image2 span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  background: #fcf8f3;
  z-index: -1;
}
.single-product-details-images {
  display: flex;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
  padding: 0px 20px;
  margin: 40px 0px;
}
.single-product-details {
  margin: 50px 0px;
}
.single-product-details-showroom-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 25px;
}
.single-product-details-showroom-title h1 {
  color: #3a3a3a;
  font-family: "Poppins", sans;
  font-size: clamp(25px, 4vw, 36px);
  font-weight: 500;
}
.single-product-details-showroom-groups {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  flex-wrap: wrap;
  padding: 20px 25px;
}
.single-product-details-showroom-groups-img-text-image {
  position: relative;
}
.single-product-details-showroom-groups-img-text-image .big-img {
  width: 100%;
}
.single-product-details-showroom-groups-img-text-image .small-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.single-product-details-showroom-groups-img-text {
  border-radius: 10px;
  border: 1px solid #f1f1f1;
  background-color: #fff;
  padding: 10px;
}
.single-product-details-showroom-groups-img-text-stars h1 {
  color: #3a3a3a;
  font-family: "Poppins", sans;
  font-size: clamp(12px, 4vw, 16px);
  font-weight: 500;
  line-height: 19px;
  margin: 8px 0px;
}
.single-product-details-showroom-groups-img-text-stars p {
  color: #acacac;
  font-family: "Poppins", sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin: 8px 0px;
}
.stars {
  display: flex;
  gap: 4px;
  margin: 10px 0px;
}
.single-product-details-showroom-groups-img-text-stars .single-price {
  color: #3a3a3a;
  font-family: "Poppins", sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin: 12px 0px;
}
.single-product-details-showroom-groups-img-text-stars s {
  color: #acacac;
  font-family: "Poppins", sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
}
.single-product-details-showroom-groups-img-text-image p {
  color: #fff;
  font-family: "Poppins", sans;
  font-size: 10px;
  font-weight: 400;
  transform: rotate(-45deg);
  position: absolute;
  top: 6px;
  left: 6px;
  z-index: 999;
}
.showroom-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0px;
  padding: 0px 20px;
}
.showroom-buttons button {
  width: 245px;
  height: 48px;
  border: 1px solid #b88e2f;
  background: #fff;
  cursor: pointer;
}
.showroom-buttons button p {
  color: #b88e2f;
  font-family: "Poppins", sans;
  font-size: clamp(10px, 4vw, 16px);
  font-weight: 600;
  line-height: 24px;
  text-align: center;
}
@media only screen and (max-width: 240px) {
  .showroom-buttons button {
    width: 180px;
    height: 40px;
  }
}
