/* Mürüvvet Blog Header Section Start */
.page-blog-header-section {
    background-image: url("../images/background-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 316px;
}

.page-blog-header-section .header-section-container {
    text-align: center;
    padding-top: 80px;
}

.header-section-container .blog-title {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 72px;
    color: rgba(58, 58, 58, 1);
}

.header-section-container .blog-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-top: 5px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: rgba(58, 58, 58, 1);
}

.blog-subtitle .from-home {
    font-weight: 500;
}

.blog-subtitle .to-blog {
    font-weight: 300;
}

@media (max-width: 535px) {
    .header-section-container .blog-title {
        font-size: 36px;
        line-height: 44px;
        margin-bottom: 10px;
    }
}
/* Mürüvvet Blog Header Section End */

/* Mürüvvet Blog Main Section Start */
.page-blog-main-section {
    margin: 0px 20px;
}

.page-blog-main-section .main-section-container {
    margin: 19px auto;
    font-family: "Poppins", sans-serif;
}

.main-section-container .blog-explanation {
    margin-top: 106px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.blog-explanation .blog-read-more {
    width: 820px;
}

.blog-read-more .read-more {
    /* nothing */
}

.read-more .read-more-image {
    width: 100%;
}

.read-more .read-more-information {
    display: flex;
    justify-content: flex-start;
    gap: 35px;
    margin: 15px 0px;
}

.read-more-information .information {
    display: flex;
    gap: 5px;
}

.information .information-image {
    width: 20px;
    height: 20px;
}

.information .information-name {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(172, 172, 172, 1);
}

@media (max-width: 768px) {
    .read-more .read-more-image {
        width: 100%;
    }
}
/* Mürüvvet Blog Main Section End */