/* Mürüvvet Our Product Categories Start  */
.homepage-our-products-section {
    margin-left: 50px auto; 
}

.op-left-menu-upper-container {
    display: flex;
    max-width: 1240px;
    margin: 32px auto;
}

.lmu-accordion {
    width: 290px;
    padding: 10px 15px;
    border: 1px solid rgba(241, 241, 241, 1);
    border-radius: 10px;
}

.lmu-accordion .a-room {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(241, 241, 241, 1);
}

.a-room .a-kids-room {
    border-bottom: none;
    margin-bottom: 0px;
}

.a-room .script {
    font-family: Poppins;
    font-size: clamp(12px 8vw 16px);
    font-weight: 500;
    line-height: 19.2px;
    color: rgba(58, 58, 58, 1);
    padding: 10px 0px;
}

.a-room .plus-image {
    max-width: 8.16px;
    max-height: 8.16px;
}
/* Mürüvvet Our Product Categories End  */