/* Mürüvvet Our Product Categories Start  */
.homepage-our-products-section {
    margin-left: 50px 0px; 
}

.homepage-our-products-section .op-left-menu-upper-container {
    display: flex;
    max-width: 1350px;
    margin: 32px auto;
}

.op-left-menu-upper-container .lmu-accordion {
    width: 290px;
    padding: 10px 15px;
    border: 1px solid rgba(241, 241, 241, 1);
    border-radius: 10px;
}

.lmu-accordion .a-room {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(241, 241, 241, 1);
}


/* ............................................... */
.a-room ul, input[type="checkbox"] {
    display: none;
}


#living-room-dropdown:checked ~ ul li {
    margin: 0px;
}

#living-room-dropdown:checked ~ ul {
    list-style: none;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 260px;
    transform: translate(-10%, 60%);
}

/* #living-room-dropdown:checked ~ ul li {
    gap: 10px;
} */

#living-room-dropdown:checked ~ ul li div {
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    max-width: 240px;
    color: rgba(58, 58, 58, 1);
}

#living-room-dropdown ~ ul li div input {
    display: flex;
    align-items: end;
}

#dropdown {
    max-width: 24px;
    max-height: 24px;
}

#dropdown:checked {
    accent-color: rgba(46, 193, 172, 1);
}

#living-room-dropdown:checked ~ ul li div p {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
}

label:hover {
    cursor: pointer;
}

label {
    position: fixed;
    z-index: 3;
    position: relative;
    text-align: right;
}
/* .............................................. */

.lmu-accordion .a-kids-room {
    border-bottom: none;
    margin-bottom: 0px;
}

.a-room .script {
    font-family: Poppins;
    font-size: clamp(12px 8vw 16px);
    font-weight: 500;
    line-height: 19.2px;
    color: rgba(58, 58, 58, 1);
    padding: 10px 0px;
}

.a-room .plus-image {
    max-width: 8.16px;
    max-height: 8.16px;
}
/* Mürüvvet Our Product Categories End  */